.header-price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
  font-family: 'Times New Roman', Times, serif;
}

.body-pricepage {
  margin-bottom: 5%;
}

.price-title {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 1%;
  font-weight: bold;
  color: #FF0000;
  font-size: 24px;
  /* Example color */
}

.price-table td {
  width: 16.66%;
  text-align: center;
}

.price-table tr {
  color: red;
  padding: 8px;
  text-align: center;
  width: 16.66%;

}


.price-table td {
  padding: 8px;
  text-align: center;
  width: 16.66%;

}

.price-table-header-row {
  background-color: #68bac0;
  color: #FFFFFF;
}