.search-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    flex: 1;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 25px 0 0 25px;
    width: 100%;
  }
  
  .search-button {
    background-color: #00c2d1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
  }
  
  .search-button i {
    color: white;
    font-size: 18px;
  }
  
  .search-button:hover {
    background-color: #00a9b6;
  }
  
  .search-results {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
  }
  
  .search-result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .search-result-item:last-child {
    border-bottom: none;
  }
  