.Header-logo a {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-logo img {
  width: 25%;
  margin-left: 40%;
}

.dropdownWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 22vh;
  width: 100% !important;
  left: 0;
  z-index: 1000;
  /* background: #ffffff; */
}

.dropdownContainer a {
  color: black !important;
}

.Header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
}

.Header-login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.authen-button {
  width: 100% !important;
  border-radius: 1rem !important;
  padding: 20px !important;
  background-color: #06b6d4 !important;
  color: white !important;
  font-weight: bold !important;
}

.Header-login a {
  text-decoration: none;
  border: none;
}

.Header-login button {
  padding: 8px 7px;
  border-radius: 1rem;
}


/*header-navigation*/
.Header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-navigation a {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.Header-navigation a:hover {
  color: #06b6d4;
  position: relative;
}

.Header-navigation a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #06b6d4;
  transition: width 0.3s ease;
}

.Header-navigation a:hover::after {
  width: 100%;
}



.Header {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Bottom-header {
  width: 100% !important;
  display: flex !important;
  padding-top: 1%;
}

.p-inputtext {
  border-radius: 5rem 0rem 0rem 5rem;
}

.button-search {
  border-radius: 0rem 2rem 2rem 0rem;
  background-color: #06b6d4;
}

.divbutton {
  border: none;
  background-color: #ffffff;
}

.p-button-rounded {
  border: none;
  /* border-radius: 100rem; */
}

.Header-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
}

.Header-left-component {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
}

.Header-left-component i {
  color: #06b6d4;
  /* Ensure icons inherit the color */
}

.username {
  align-items: center;
  color: black;
}

.username:hover {
  text-decoration: underline;
}

.cart-icon {
  font-size: 23px;
}

@media screen and (max-width: 1440px) {
  .Header-navigation {
    font-size: 15px !important;
  }
}

.profile-name {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
}