.tracking-page h4 {
  color: #38A9B8;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

hr.solid {
  margin-top: 0px;
  border-top: 3px solid #bbb;
}

/*theo doi don hang*/

.order-tracking {
  margin-top: 40px;
}

.order-tracking h3 {
  color: #38A9B8;
  margin: 20px 0 15px;
  font-weight: bold;

}

.order-tracking-content {

  border: 1px solid #bbb;
  border-radius: 0;
  background-color: #fff;
  /* Remove border-radius to make the border rectangular */
}

.shipping-info {
  display: flex;
  justify-content: space-between;
  border-top: none;
  border-bottom: none;
}

.tracking-separator {
  margin: 0 10px;
}

.order-tracking-content .order-tracking-id {
  text-align: left;
}

/*  */

.card {
  margin-bottom: 20px;
  /* border: 1px solid #ffffff; */
  border-radius: 0;

}

.card-body {
  padding: 20px;
}