.tracking-page h4 {
  color: #38a9b8;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

hr.solid {
  margin-top: 0px;
  border-top: 3px solid #bbb;
}

.order-tracking {
  margin-top: 40px;
}

.order-tracking .card {
  box-shadow: none !important;
}

.order-tracking h3 {
  color: #38a9b8;
  margin: 20px 0 15px;
  font-weight: bold;
}

.order-tracking-content {
  border: 1px solid #d1d1d1;
  border-radius: 0;
}

.shipping-info {
  display: flex;
  justify-content: space-between;
  border-top: none;
  border-bottom: none;
}

.tracking-separator {
  margin: 0 10px;
}

.order-tracking-content .order-tracking-id {
  text-align: left;
}

.order-canceled-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-background);
  padding: 3rem 1rem;
}

.order-canceled-content {
  text-align: center;
  max-width: 28rem;
  margin: 0 auto;
}

.order-canceled-icon {
  font-size: 40px;
  color: red;
}

.order-canceled-title {
  margin-top: 1rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: black;
}

.order-canceled-message {
  margin-top: 1rem;
  color: var(--color-muted-foreground);
}

.order-canceled-action {
  margin-top: 5px;
}

.order-canceled-link {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: medium;
  color: var(--color-primary-foreground);
  box-shadow: var(--shadow-sm);
  transition: background-color 0.2s;
}

.order-canceled-link:hover {
  background-color: var(--color-primary-hover);
}

.order-canceled-link:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-primary-focus);
}

.card {
  margin-bottom: 20px;
  border-radius: 0;
}

.card-body {
  padding: 20px;
}

/* Warranty Modal */
.warranty-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.warrantyModal {
  width: 50% !important;
}

/* Center and enlarge modal title */
.warrantyModal .ant-modal-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Warranty Table */
.warrantyTable {
  width: 100% !important;
  text-align: center;
  border-collapse: collapse;
}

.warrantyTable th,
.warrantyTable td {
  border: 1px solid #d1bfa7 !important;
  padding: 8px;
}

.warrantyTable th {
  background-color: #f7f3e9;
}

.warrantyTable td {
  background-color: #fff;
}

/* Bold Labels */
.warranty-customer p {
  margin: 0.5em 0;
}

.warranty-customer p::before {
  font-weight: bold;
  margin-right: 5px;
}

.warranty-customer p:nth-child(1)::before {
  content: "Tên Khách Hàng:";
}

.warranty-customer p:nth-child(2)::before {
  content: "Số điện thoại:";
}

.warranty-customer p:nth-child(3)::before {
  content: "Email:";
}
.warranty-customer p:nth-child(4)::before {
  content: "Thời hạn bảo hành:";
}

.warranty-logo{
  width: 28%;
}

.warranty-logo img{
  width: 100%;
}

