.chart-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 500px;
  margin-top: 40px;
}

.widget-table {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}

.widget-table-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: rgb(121, 224, 230);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.widget-table-item-icon {
  font-size: 24px;
  margin-right: 10px;
}

.widget-table-item-text {
  width: 200px;
}

.widget-table-item-text p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.widget-table-item-text p:last-child {
  font-size: 14px;
  color: #888;
}

.selection-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-bottom: 35px;
}


.time-selection,
.month-selection,
.quarter-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.time-selection label,
.month-selection label,
.quarter-selection label {
  font-weight: bold;
  display: flex;
  width: 45%;
}


.month-selection select,
.quarter-selection select {
  padding: 3px 5px;
  background-color: #ededed;
  color: #000000;
  border: 1px solid #808080;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.month-selection select:hover,
.quarter-selection select:hover {
  background-color: #e0e0e0;
  border-color: #696969;
}


.month-selection select:focus,
.quarter-selection select:focus {
  border-color: #808080;
  outline: none;
}